@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --main-font: 'Poppins', sans-serif;
  --main-black: #212738;
  --main-blue: #0080bd;
  --off-white: #f7f9fb;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: var(--main-font);
  color: var(--main-black);
}

/* Tribute Section */

#tribute-Section {
  transform: skew(0deg, -15deg);
  background: var(--main-blue);
  margin-top: -350px;
  padding: 1px 0;
}

.container {
  position: relative;
  margin: 100px auto;
  max-width: 940px;
  transform: skew(0deg, 15deg);
  top: 400px;
  padding: 0 3rem;
}

#tribute-info {
  display: flex;
  flex-direction: column;
  border-radius: 200px 10px 100px 10px;
  max-width: 100%;
  height: 576px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--off-white);
  padding-left: calc(459px + 10px);
}

#image-container {
  position: absolute;
  top: -30px;
  left: 1rem;
  max-width: 459px;
}

#image {
  max-width: 459px;
  width: 100%;
  border-top-left-radius: 233px;
  border-bottom-right-radius: 233px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}

figcaption {
  font-size: 10px;
  color: grey;
  position: absolute;
  top: 584px;
  left: 50px;
  width: 300%;
}

h1#title {
  font-size: 2rem;
  font-weight: 900;
  margin-top: 50px;
  margin-left: 20px;
  width: 90%;
}

h2.subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  background-color: #fff;
  padding: 0 5px;
  width: 90%;
  border-left: 1px solid var(--main-blue);
}

#tribute-info p {
  margin: 30px 0;
  width: 90%;
}

#tribute-info blockquote {
  width: 90%;
  background-color: #fff;
  padding: 5px 5px;
  border-bottom-right-radius: 40px;
  border-right: 1px solid var(--main-blue);
}

.large {
  font-size: 2rem;
  line-height: 1rem;
}

cite {
  position: relative;
}

cite::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 100%;
  border-bottom: 8px solid rgba(0, 128, 189, 0.3);
}

/* Works Section */

#works-Section {
  margin: 0px auto;
  max-width: 900px;
  position: relative;
  top: 400px;
}

#works-Section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: bold;
}

/* Cards */

#cards-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #e7e7e7;
}

.card {
  flex: 0 1 250px;
  height: 450px;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
}

/* Princess Mononoke Card */

#card-princess {
  background-color: #392e28;
}

#img-princess {
  background-image: url('https://m.media-amazon.com/images/M/MV5BNzcxODMxMjY4NF5BMl5BanBnXkFtZTgwMzUzMjkxMzE@._V1_SY1000_CR0,0,770,1000_AL_.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 65%,
    rgba(0, 0, 0, 0.8) 85%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 65%,
    rgba(0, 0, 0, 0.8) 85%,
    rgba(0, 0, 0, 0) 100%
  );
}

#princess-content {
  display: flex;
  flex-direction: column;
}

#princess-content h3 {
  font-size: 1rem;
  padding: 0 15px;
  margin-top: 10px;
}

#princess-content h4 {
  font-size: 0.8rem;
  padding-top: 10px;
  font-weight: 600;
}

#princess-content p {
  color: #9b9b9b;
  font-size: 0.8rem;
  padding: 2px 15px;
}

.princess-content-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 15px;
}

i.fas.fa-star {
  color: #fff700;
  font-size: 0.8rem;
}

.princess-content-summary span {
  align-self: flex-end;
  font-size: 0.8rem;
}

.princess-content-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

#princess-btn {
  text-decoration: none;
  color: #e7e7e7;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  padding: 2px 10px;
}

#princess-btn:visited {
  text-decoration: none;
}

#princess-btn:hover {
  color: #392e28;
  background-color: #fff;
  border: 1px solid rgba(165, 165, 165, 1);
}

i.far.fa-bookmark {
  color: #e7e7e7;
  opacity: 0.5;
}

i.far.fa-bookmark:hover {
  opacity: 1;
}

/* Howl's Moving Castle Card */

#card-howl {
  background-image: url('https://m.media-amazon.com/images/M/MV5BNmM4YTFmMmItMGE3Yy00MmRkLTlmZGEtMzZlOTQzYjk3MzA2XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.bg-howl {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin-left: 13px;
  margin-top: 120px;
  padding: 10px 0px;
  width: 90%;
  margin-bottom: 180px;
}

#card-howl p {
  font-size: 0.9em;
  color: #fff;
  text-align: left;
  padding: 0px 10px;
}

#howl-btn {
  padding: 2px 15px;
  margin: auto;
  background-color: #fff;
  text-decoration: none;
  color: #274992;
  font-weight: 600;
  border-radius: 5px;
}

#howl-btn:visited {
  text-decoration: none;
}

#howl-btn:hover {
  background-color: #274992;
  color: #fff;
}

/* Spirited Away */

#img-spirited {
  height: 400px;
  max-width: 100%;
  border-radius: 18px;
}

.bg-spirited {
  position: relative;
  top: -135px;
  background-color: rgba(232, 75, 43, 0.9);
  border-radius: 10px;
  margin-left: 13px;
  padding: 10px 0px;
  width: 90%;
  color: #fff;
}

.bg-spirited p {
  font-size: 0.9em;
  color: #fff;
  text-align: left;
  padding: 0px 10px;
}

#spirited-btn {
  position: relative;
  top: -110px;
  left: 65px;
  padding: 2px 15px;
  background-color: #e84b2b;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
}

#spirited-btn:visited {
  text-decoration: none;
}

#spirited-btn:hover {
  background-color: #fff;
  color: #e84b2b;
  border: 1px solid rgba(232, 75, 43, 1);
}

/* Footer */

footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3b3333;
  top: 600px;
  height: 200px;
}

footer::before {
  content: '';
  position: absolute;
  top: -150px;
  height: 150px;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom left, transparent 49%, #3b3333 50%);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  padding: 1.5rem 4rem;
  margin: 0 2rem;
  box-shadow: 3px 3px 10px #1d1919;
}

small {
  font-weight: bolder;
  font-size: 12px;
  color: #fff;
  margin-right: 15px;
}

a#tribute-link {
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  padding: 6px 15px;
  margin-top: 10px;
  text-decoration: none;
  box-shadow: 3px 3px 10px #1d1919;
}

a#tribute-link:visited {
  color: #fff;
  text-decoration: none;
}

a#tribute-link:hover {
  background-color: #fff;
  color: #3b3333;
}

/* Media Query */

/* IPad devices */
@media (max-width: 768px) {
  /* Tribute Section */

  #tribute-info {
    padding-left: calc(350px);
    height: 460px;
  }

  #image-container #image {
    max-width: 350px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
  }

  h1#title {
    font-size: 2rem;
    margin-top: 20px;
  }

  h2.subtitle {
    font-size: 0.9rem;
  }

  #tribute-info p {
    font-size: 0.9rem;
  }

  #tribute-info blockquote {
    font-size: 0.9rem;
  }

  figcaption {
    top: 450px;
    left: 50px;
  }
}

/* Small devices */
@media screen and (max-width: 576px) {
  /* Tribute Section */

  .container {
    margin: 50px auto;
    padding: 1rem;
    top: 200px;
  }

  #tribute-info {
    border-radius: initial;
    padding-left: initial;
    align-items: center;
    height: 100%;
    padding-top: 150px;
    padding-bottom: 20px;
  }

  #image-container {
    position: relative;
    max-width: 100%;
    top: 150px;
    left: 0;
  }

  figcaption {
    top: 440px;
    left: 10px;
  }

  h1#title {
    margin-top: 40px;
  }

  footer {
    top: 400px;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
    padding: 1rem 1rem;
    margin: 0 2rem;
    justify-content: center;
  }

  /* Works Section */

  #works-Section {
    top: 200px;
  }
}
